NEXT_PUBLIC_SUPABASE_URL=https://chufyvkxrjmcpwwhosxk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNodWZ5dmt4cmptY3B3d2hvc3hrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNTQ5NTEsImV4cCI6MjA5NDYzMDk1MX0.jGQtP28b_bVH6TPEx0A-SqX6iu_D_ky0K0upaAJF_RI
